# Pandas
- Pandas is an open-source library that is made mainly for working with relational or labeled data both easily and intuitively.
- It provides various data structures and operations for manipulating numerical data and time series.
- This library is built on top of the NumPy library.
- Pandas is fast and it has high performance & productivity for users.

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\excelr\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\excelr\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\excelr\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\excelr\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\excelr\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\excelr\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
#import pandas
import pandas as pd

In [5]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [ ]:
#Load external file into jupyter notebook

In [ ]:
pd.read_csv("bank.csv")

In [ ]:
pd.read_csv(r"C:\Users\ExcelR\Desktop\Datasets\bank.csv")

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/Salaries.csv')
df

In [ ]:
#Reading first 5 records

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
#Extracting only column names

In [ ]:
df.columns

In [ ]:
#Extracting multiple columns from dataframe

In [ ]:
df['rank']

In [ ]:
#Descriptive stats for df

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.describe(include='all')

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
#Extract records from 30 to 35 from service to salary column

df.loc[30:35,'service':'salary']

In [ ]:
df.iloc[30:36,3:6]

In [ ]:
#unique Values and their frequency

In [ ]:
df['rank'].unique()

In [ ]:
df['gender'].unique()

In [ ]:
df['rank'].nunique()

In [ ]:
df['rank'].value_counts()

# Pandas Filtering and Groupby

In [ ]:
df.head()

In [ ]:
#Extract records where gender = female

In [ ]:
df['gender'] == 'Female'

In [ ]:
df[df['gender'] == 'Female'] #Masking

In [ ]:
#Gender is female and salary is greater than 150000

df[(df['gender'] == "Female") & (df['salary'] > 150000)]

In [ ]:
df[(df['gender'] == "Female") | (df['salary'] > 150000)]

In [ ]:
#What is the average salary of rank prof?

In [ ]:
df[df['rank'] == 'Prof']

In [ ]:
df[df['rank'] == 'Prof']['salary'].mean()

In [ ]:
#Average salary of prof rank and gender is Male

In [ ]:
df[(df['rank'] == "Prof") & (df['gender'] == 'Female')]['salary'].mean()

In [ ]:
print(df[df['rank'] == 'Prof']['salary'].mean())
print(df[df['rank'] == 'AssocProf']['salary'].mean())
print(df[df['rank'] == 'AsstProf']['salary'].mean())

In [ ]:
#Grouby aggregate method

In [ ]:
df.groupby('rank')['salary'].mean()

In [ ]:
df.groupby('rank')['salary'].agg({'mean','median','min','max'})

# Task

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/nba.csv')

In [ ]:
df

In [ ]:
# Extract the data where Team is boston celtics and Weight is less than 100
#What is the avearge salary of players of team 'Los Angeles Lakers'.
#What is the average salary of player based of various position?
#Which players belong to San Diego State college.
#Which player from Toronto Raptors team has the highest salary?