# Variables

In [1]:
age = 24
name = 'Anit'
height = 5.9
bool = True

In [3]:
age , name

(24, 'Anit')

# Data Structures
1. Lists
2. Tuple
3. Dictionary
4. Sets

In [5]:
lst = [1,1.2,'Python',False]
lst

[1, 1.2, 'Python', False]

In [3]:
type(lst)

list

In [7]:
lst.append('Session')

In [9]:
lst

[1, 1.2, 'Python', False, 'Session']

In [11]:
lst.remove(1)
lst

[1.2, 'Python', False, 'Session']

In [5]:
t = (1,2,2,3,'Python','Data')
t

(1, 2, 2, 3, 'Python', 'Data')

In [7]:
type(t)

tuple

In [11]:
t.remove('Data')

AttributeError: 'tuple' object has no attribute 'remove'

In [15]:
abc = {}
abc
type(abc)

dict

In [17]:
dictionary = {'Name':'Anita','Age':24,'Course':"DS"}
dictionary

{'Name': 'Anita', 'Age': 24, 'Course': 'DS'}

In [19]:
dictionary.update({'Location':'Pune'})
dictionary

{'Name': 'Anita', 'Age': 24, 'Course': 'DS', 'Location': 'Pune'}

In [21]:
dictionary.pop('Age')
dictionary

{'Name': 'Anita', 'Course': 'DS', 'Location': 'Pune'}

In [23]:
s = {1,1,2,2,2,5,'Python'}
s

{1, 2, 5, 'Python'}

In [25]:
s.add(52)
s

{1, 2, 5, 52, 'Python'}

In [27]:
s.add(1.2)
s

{1, 1.2, 2, 5, 52, 'Python'}

In [29]:
s.pop()

1

In [31]:
s

{1.2, 2, 5, 52, 'Python'}

# Remove all duplicate values from list.

In [33]:
lst = [10,10,10,10,25,25,63,68,69,89,89]
lst

[10, 10, 10, 10, 25, 25, 63, 68, 69, 89, 89]

In [37]:
type(set(lst))

set

In [43]:
lst = list(set(lst))

lst
type(lst)

list

In [47]:
lst.clear()

In [49]:
lst

[]

# Conditional Statements
- if- 
else
-  
elif

In [61]:
a = 10
b = 7

a == b

True

In [65]:
original = 'abc123'
input = 'abc1'

if original == input :
    print('Access granted')

In [73]:
original = 'abc123'
input = 'abc'

if original == input:
    print('Log in successful')  
else:
    print('Try again')

Try again

In [79]:
#Check whether the number is positive/negative/Zero

number = 0

if number > 0:
    print('Positive')
elif number < 0:
    print('Negative')
else:
    print('Zero')

Zero

In [95]:
#marks : >= 85 : 'A'
#marks : 70 - 85 : 'B'
#marks : 55 - 70 : 'C'
#marks : <55 : 'D'

marks = 85

if marks >= 85:
    print('A')
elif (marks < 85 and marks >= 70):
    print('B')
elif (marks < 70 and marks >= 55):
    print('C')
else:
    print('D')

A

# Functions

- In python, there are two types of function.
    - Built-in funtions
    - User defined function
- We can create our own customized functions in python for code reusability.

In [13]:
def simple_function():
    print('This is user defined function')
print('Second line')

Second line

In [15]:
simple_function()

This is user defined function

In [17]:
def addition():
    print(5+75)

In [21]:
addition(7547,85)

TypeError: addition() takes 0 positional arguments but 2 were given

In [23]:
def addition(x,y):
    print(x+y)

In [29]:
addition(10,6847)

6857

In [43]:
lst = []
lst.append(45)

In [33]:
#Write a python function which will return me the maximum number
def max_number(num1,num2):
    '''This function returns max number between given two number'''
    return max(num1,num2)

In [35]:
max_number(10,75)

75

In [41]:
def max_value(a,b):
    '''This function returns max number between given two number'''
    if a > b:
        print(a)
    else:
        print(b)

In [39]:
max_value(45,78)

78

# Loops

- Loops in Python are essential for performing repetitive tasks or iterating over collections of data.
- They allow you to execute a block of code repeatedly, saving you from having to write the same code over and over again.
- There are two types of loops in python:
- **For loop**
- for loops are used when you know in advance how many times you want to iterate over a sequence or a range of values.
They are commonly used for iterating over elements in a list, tuple, string, or other iterable objects.
While loop

- **while loops** are used when you want to repeat a block of code as long as a certain condition is true.
They are suitable when you don't know in advance how many times the loop needs to run.

# While Loop

In [ ]:
python = 10

while python > 0:
    print('Learning python',python)
    python = python - 1
print('Python completed')

In [ ]:
steps = 0
while steps <= 25:
    print('Taking steps')
    steps = steps + 1

# For loop and range function

In [ ]:
range(1,10)

In [ ]:
for i in range(1,10):
    print(i)

In [ ]:
for x in range(1,10):
    print(x**2)

In [ ]:
#Company list
company = ['flipkart','amazon','excelr']
company

In [ ]:
for i in company:
    print(i)

In [ ]:
for i in company:
    print('www.'+i+'.com')