# EDA (Exploratory Data Analysis)

- Exploratory Data Analysis (EDA) is an approach to analyze the data using visual techniques and statistical techniques. It is used to discover trends, patterns, or to check assumptions with the help of statistical summary and graphical representations.

**Steps involved in EDA**
1. Describing the data
2. Data cleaning
3. Imputation techniques
4. Data analysis and visualization
5. Transformations

**Import data and data description**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [7]:
df = pd.read_csv('data_clean.csv', index_col=0)
df

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
1     41.0    190.0   7.4     5    1  2010    67       S
2     36.0    118.0   8.0     5    2  2010    72       C
3     12.0    149.0  12.6     5    3  2010    74      PS
4     18.0    313.0  11.5     5    4  2010    62       S
5      NaN      NaN  14.3     5    5  2010    56       S
..     ...      ...   ...   ...  ...   ...   ...     ...
154   41.0    190.0   7.4     5    1  2010    67       C
155   30.0    193.0   6.9     9   26  2010    70      PS
156    NaN    145.0  13.2     9   27  2010    77       S
157   14.0    191.0  14.3     9   28  2010    75       S
158   18.0    131.0   8.0     9   29  2010    76       C

[158 rows x 8 columns]

In [9]:
df.describe()

            Ozone     Solar.R        Wind         Day    Year        Temp
count  120.000000  151.000000  158.000000  158.000000   158.0  158.000000
mean    41.583333  185.403974    9.957595   16.006329  2010.0   77.727848
std     32.620709   88.723103    3.511261    8.997166     0.0    9.377877
min      1.000000    7.000000    1.700000    1.000000  2010.0   56.000000
25%     18.000000  119.000000    7.400000    8.000000  2010.0   72.000000
50%     30.500000  197.000000    9.700000   16.000000  2010.0   78.500000
75%     61.500000  257.000000   11.875000   24.000000  2010.0   84.000000
max    168.000000  334.000000   20.700000   31.000000  2010.0   97.000000

In [13]:
df.head()

   Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
1   41.0    190.0   7.4     5    1  2010    67       S
2   36.0    118.0   8.0     5    2  2010    72       C
3   12.0    149.0  12.6     5    3  2010    74      PS
4   18.0    313.0  11.5     5    4  2010    62       S
5    NaN      NaN  14.3     5    5  2010    56       S

In [11]:
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [ ]:
df.info()

- As we can see that,
- 'Month' column has all the numeric data still python has shown us that it is object.
- We will have to find out the reason and change the data type of the column.

# **Data type conversion**

In [15]:
df['Month']

1      5
2      5
3      5
4      5
5      5
      ..
154    5
155    9
156    9
157    9
158    9
Name: Month, Length: 158, dtype: object

In [17]:
df['Month'].unique()

array(['5', 'May', '6', '7', '8', '9'], dtype=object)

In [19]:
df['Month'].replace('May',5,inplace=True)

In [21]:
df['Month'].unique()

array(['5', 5, '6', '7', '8', '9'], dtype=object)

In [23]:
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [31]:
df['Month'].astype(int)

1      5
2      5
3      5
4      5
5      5
      ..
154    5
155    9
156    9
157    9
158    9
Name: Month, Length: 158, dtype: int32

In [41]:
df['Month'] = df['Month'].astype(int)

In [43]:
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month        int32
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [45]:
df

     Ozone  Solar.R  Wind  Month  Day  Year  Temp Weather
1     41.0    190.0   7.4      5    1  2010    67       S
2     36.0    118.0   8.0      5    2  2010    72       C
3     12.0    149.0  12.6      5    3  2010    74      PS
4     18.0    313.0  11.5      5    4  2010    62       S
5      NaN      NaN  14.3      5    5  2010    56       S
..     ...      ...   ...    ...  ...   ...   ...     ...
154   41.0    190.0   7.4      5    1  2010    67       C
155   30.0    193.0   6.9      9   26  2010    70      PS
156    NaN    145.0  13.2      9   27  2010    77       S
157   14.0    191.0  14.3      9   28  2010    75       S
158   18.0    131.0   8.0      9   29  2010    76       C

[158 rows x 8 columns]

# Duplicates

In [ ]:
df.duplicated()

In [ ]:
df.duplicated().sum()

In [ ]:
#Drop Duplicated records

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

In [ ]:
df.duplicated().sum()

# Drop columns

- There is one column which only has single different value.
- We need to get rid of all the uneccesary columns or else it will be very complex data.

In [ ]:
df.head()

In [ ]:
df.drop(columns=['Year'],inplace=True)

In [ ]:
df

# Rename the columns

In [ ]:
df.head()

In [ ]:
df.rename(columns={'Solar.R':'Solar','Temp':'Temperature'},inplace=True)

In [ ]:
df

# Missing value imputation

- In dataset, missing data, or missing values, occur when no data value is stored for the variable in an observation.
- Missing data are a common occurrence and can have a significant effect on the conclusions that can be drawn from the data.
- If we don't impute or handle null values, we will not be able to create a machine learning model as python does not understand missing values.
- Handling missing values is a crucial step in EDA.
- Missing values can appear for several reasons like:
    - Incomplete data entry
    - Issues with machines
    - Improper handling of data
    - And many more.

In [ ]:
#Checking null values

In [ ]:
df

In [ ]:
df.isna()

In [ ]:
df.isna().sum()

In [ ]:
df.isna().sum()

In [ ]:
#Calculate the percentage of missig values in each column.
for i in df.isna().sum():
    print((i/len(df))*100)

# Rule for missing value imputation:
1. If NA values are between 1 to 5%, drop na (rows)
2. If NA value are 5 to 40%, fillna(replace)
3. If NA values are greater than 50% in a column, drop that entire column.

In [ ]:
df.head()

In [ ]:
ozone_median = df['Ozone'].median()

In [ ]:
df['Ozone'].fillna(ozone_median, inplace=True)

In [ ]:
df['Solar'].fillna(df['Solar'].mean(), inplace=True)

In [ ]:
df['Weather'].mode()[0]

In [ ]:
df['Weather'].fillna(df['Weather'].mode()[0], inplace=True)

In [ ]:
df.isna().sum()

# Outlier detection

- There are multiple approaches to detect outliers in the dataset.
    - Histogram
    - Boxplot
    - Descriptive stats for df

In [ ]:
df.describe()

In [ ]:
df.boxplot()

In [ ]:
#Outlier detection function

In [ ]:
import numpy as np

numbers = np.array([2, 8, 5, 10, 3])
result = np.where(numbers > 5, "High", "Low")

print(result)

In [ ]:
def capping(data, columns):
    
    for col in columns:
        q1 = data[col].quantile(0.25)
        q3 = data[col].quantile(0.75)
        iqr = q3-q1
    
        lower = q1-(1.5*iqr)
        upper = q3+(1.5*iqr)
        
        df[col] = np.where(df[col] > upper, upper, np.where(df[col] < lower, lower,df[col]))

In [ ]:
#Capping Outliers

In [ ]:
capping(df, df.drop(columns=['Weather']).columns)

In [ ]:
df.boxplot()

# Scatter Plot and Correlation

In [ ]:
sns.pairplot(df)

In [ ]:
#Correlation coefficient

In [ ]:
df.corr(numeric_only=True)

In [ ]:
sns.heatmap(df.corr(numeric_only=True),annot=True, cmap='viridis')

# Transformations

- Machines do not understand words and sentences.
- Machines only understand numbers.
- Before model building, we have convert all the categorical columns into numerical.

In [ ]:
df.head()

In [ ]:
#Encoding using pandas dummy function.

In [ ]:
df = pd.get_dummies(data=df,columns= ['Weather'], dtype=int)

In [ ]:
df

# **Scaling the data**

- Normalization
    - Scales value within the range of 0 to 1.
- Standardization
    - Uses Z score for scaling.
    - Scale values in such a way that the mean = 0 and standard deviation is 1.

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [ ]:
sc = StandardScaler()

In [ ]:
df.head()

In [ ]:
sc.fit_transform(df)

In [ ]:
scaled_data = pd.DataFrame(sc.fit_transform(df), columns=df.columns)
scaled_data

In [ ]:
scaled_data.describe()

In [ ]:
#MinMaxScalar

In [ ]:
mn = MinMaxScaler()

In [ ]:
minmax_scaled = pd.DataFrame(mn.fit_transform(df), columns=df.columns)
minmax_scaled

In [ ]:
minmax_scaled.describe()